#nametext {
	  color: #2f1962;
    text-align: center;
    font-size: 8em;
    font-family: 'Rock Salt', cursive;
    line-height: 70%;
}
#csc {
	font-family: 'Verdana';
	text-align: center;
	font-size 2em;
	line-height: 200%;
}
#sketches {
	 position: relative;
  	left: 20%;
}